.type{
    -fx-min-width: 110;
    -fx-padding: 5;
    -fx-border-color: #c9d1de;
    -fx-text-fill: #8894ac;
    -fx-text-alignment: center;
    -fx-alignment: center;

}

.name{
    -fx-text-fill: #ff6f3b;
    -fx-font-size: 18;
}

.container{
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 3,3);
}
.selected{
    -fx-background-color:  #858ef3;
}
.selected .text{
    -fx-text-fill: white;
}